.about{
    display: flex;
    flex-direction: column;
    width: 60%;
   // background-color: aqua;
   justify-content: center;
   align-items: center;
}
.about-us{
    display: flex;
    flex-direction: column;
    
    //background-color: palegoldenrod;
    justify-content: center;
   align-items: center;
}